<h1>{{product.title}}</h1>
<div class="home__card__container">
    <p>{{product.description}}</p>
    <p>{{product.code}}</p>
    <p>{{product.price}}</p>
    <p>{{product.stock}}</p>
    <button onclick="addToCart('{{product._id}}')">Agregar al carro</button>
</div>
<script src="/js/{{script}}"></script>